
[c-accordion] > dt > button {
	background-color: var(--c-bg-secondary);
  border-radius: 10px;
	border-style: none;
	cursor: pointer;
	padding: 1em 1.5em;
	text-align: left;
	width: 100%;
}

[c-accordion] > dt > button:focus {
	color: blue;
  background-color: #EDEEF3;
}

[c-accordion] > dt > button:hover {
  background-color: #EDEEF3;
}



[c-accordion] > dd {
	margin-inline-start: 0;
	padding: 1em 1.5em;
}

[c-accordion] > dt ~ dt {
  margin-top: 10px;
}

.more-info {
  background: var(--c-bg-secondary);
  margin-top: -20px;
  border-radius: 10px;
}


button {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}


.desc {
   text-align: left;
}
.card-text {
  text-align: left;
}

.link { 
  color: var(--c-text);
  text-decoration: none;
  background-image: linear-gradient(120deg, #ED8D07 0%, #ED8D07 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 107%;
  transition: background-size 0.25s ease-in;
  &:hover, &:focus {
    background-size: 100% 107%; 
    outline: none;
  }
}

.tit {
    margin-bottom: 5px;
    color: var(--c-heading);
    text-align: left;
    padding: 0px;
}


.accord-link {
  color: var(--c-teal);
  text-align: left;
  font-size: 22px;
  padding-bottom: 0px;
}

.chevron {
  position: relative;
  top: -0.1em;
  transition-duration: 0.3s;
    transition-property: transform;
}

button[aria-expanded="true"] .chevron {
  -webkit-transform: rotate(450deg);
  -ms-transform: rotate(450deg);
  -o-transform: rotate(450deg);
  transform: rotate(450deg);
}

button[aria-expanded="true"] .habit-icon {
  @include on-breakpoint(tablet-up){
  -webkit-transform: translateY(110%) !important;
  -ms-transform: translateY(110%) !important;
  -o-transform: translateY(110%) !important;
  transform: translateY(110%) !important;
  }
}