
:root {
    --offset: 6px;
    --font-family-primary: "Work Sans", sans-serif;
    --font-family-secondary: "Spline Sans", "Lora", "Fraunces", serif;
    --font-family-tertiary: "Spline Sans", "IBM Plex Mono", "Space Mono", monospace;

  
    --c-text: #011627;
    --c-navy: #011627;
    --c-heading: #053964;
    --c-bg-secondary: #F6F7FC;
    --c-black: #191717;
    --c-grey: #E9E9E9;
    --c-yellow: #F4E461;
    --c-lilac: #A993DD;
    --c-white: #ffffff;
    --c-teal: #21C4D1;
    --c-orange: #ED8D07; 
  
  }
  
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:wght@300;400;500;600;700&family=Spline+Sans:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  
  
  h1 {
    font-size: 110px;
    font-family: "Work Sans", sans-serif;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color: var(--c-text);
    padding-top: 20vh;
    @include respond(phone) {
    font-size: 75px;
      padding-top:5vh;
    }
  }

  
  h2 {
    color: var(--c-heading);
    font-size: 50px;
  }

  .underline {
    background-image:linear-gradient(120deg, #F47EAB 50%, #e6739f);
    background-repeat: no-repeat;
    padding-right: 10px;
    background-size: 0% 0.2em;
    background-position: 0 88%;
  }
  .underline-2 {
    background-image:linear-gradient(120deg, #F4E461 50%, #eedb49);
    background-repeat: no-repeat;
    padding-right: 10px;
    background-size: 0% 0.2em;
    background-position: 0 88%;
  }
  
  .underline-animation{
    animation: animatedBackground 1s cubic-bezier(0.064, 0.045, 0.355, 1) 0.5s forwards;
  }

  h3 {
    color: var(--c-lilac);
    font-size: 25px;
    margin-bottom: .5em;
  }



@keyframes animatedBackground {
    to {
        background-size: 110% 0.2em;
    }
}