.site-footer
{
  background-color: var(--c-navy);
  min-height: 200px;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:var(--c-white);
}


.social-media {
  float: right;
  @include respond(phone) {
    float:left;
    margin-top: 20px;
  }
  
}

.social-media-link {
  text-decoration: none;
}

.social-media-icon {
  padding-bottom: 20px;
  margin-right: 20px;
}

.social-media-icon:hover,
.social-media-icon:focus {
  transition: transform 200ms;
  transform: translateY(-10px);
}

