body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  align-items: center;
  min-height: 85vh;
  -webkit-font-smoothing: antialiased;
  
}

.container {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 2em;
}

.more-width {
  max-width: 80em !important;
}

p {
  line-height: 2em;
  font-size: 1.4em;
  margin: 0;
  color: var(--c-text);
}

#about {
  min-height: 40em;
  padding: 5em 0;
 
}

#how-we-can-help {
  background-color: var(--c-bg-secondary);
  border-top: 2px dashed var(--c-teal);
  border-bottom: 2px dashed var(--c-teal);
  min-height: 40em;
  padding: 5em 0;
 
}

#sign-up {
  min-height: 40em;
  padding: 5em 0;
  
}

.half {
  box-sizing: border-box;
  width: 100%;
  @include on-breakpoint(tablet-up) {
    padding-top: 10px;
    width: 50%;
  float: left;
}
}

.row::after {
  content: "";
  display: block;
  clear: both;
  margin-top: 20px
}

.habit-icon {
  padding-top: 50px;
  display:block;
  margin:auto;
}

.padding-top-m {
  padding-top: 50px;
}