body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  align-items: center;
  min-height: 85vh;
  -webkit-font-smoothing: antialiased;
  
}

.container {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 2em;
}

.more-width {
  max-width: 90em !important;
  padding: 20px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  justify-content: center;
  align-items: center;


}

.icon-image {
  @include respond(phone){
    max-height: 75px;
    }
}

p {
  line-height: 2em;
  font-size: 1.4em;
  padding-bottom: 1em;
  @include respond(phone){
    line-height: 1.5em;
    font-size: 1.2em;
  }
  margin: 0;
  color: var(--c-text);
}

.expl {
  font-size: 1.4em;
  @include respond(phone){
    display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
  font-size: 1.2em;
  padding-top: 0em;
  }
  padding-top: 1.4em;
}

.intro {
  line-height: 2em;
  font-size: 1.6em;
  color: var(--c-text);
}

.reasons{
 margin-top: 20px;

}
#about {
  min-height: 40em;
  padding: 5em 0;
  background-color: var(--c-bg-secondary);
  // background: linear-gradient(90grad, var(--c-bg-secondary), rgb(206, 218, 238));
  border-top: 2px dashed var(--c-grey);
  border-bottom: 2px dashed var(--c-grey);
}

#how-we-can-help {
min-height: 40em;
  padding: 5em 0;
  border-bottom: 2px dashed var(--c-grey);

 
}

#sign-up {
  min-height: 30em;
  padding: 5em 0;
  background-color: var(--c-bg-secondary);
}

.half {
  box-sizing: border-box;
  width: 100%;
  @include on-breakpoint(tablet-up) {
    width: 45%;
    float: left;
    margin-right: 35px;
}
}

.onefifth {
  box-sizing: border-box;
  width: 100%;
  margin-bottom:30px;
  display: inline-flex;
  @include on-breakpoint(tablet-up) {
    text-align:center;
    width: 20%;
    display: block;
    float: left;
}
}

.team-icon {
  margin-right: 20px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
  margin-top: 20px
}

.habit-icon {
  padding-top: 50px;
  display:block;
  margin:auto;
  max-width: 100%;
}

.padding-top-m {
  padding-top: 50px;
}


.overflow {
  overflow-x: hidden;
}