
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Kollektif', sans-serif;
  font-size: 16px;
  align-items: center;
  min-height: 85vh;
  -webkit-font-smoothing: antialiased;
  background-color: var(--c-navy)
  
}









.intro {
  padding-left: 8px;
  line-height: 2em;
  font-family: var(--font-family-tertiary);
  font-size: 1.6em;
  max-width: 420px;
  padding-top: 20px;
  @include respond(phone){
  font-size: 1.4em;
}
  color: var(--c-text);
}


.continue {
  padding-top: 20px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  margin-left: -25px;
  &:hover {
    fill: rgba(0, 0, 0, 0.065);
  }
  
  a {
    color: var(--c-black);
    text-decoration: none;
  }
}

.centre {
  text-align: center;
}