h1 {
  letter-spacing: -0.04em;
  color: var(--c-white);
  -webkit-text-fill-color: var(--c-white);
  -webkit-text-stroke-color: var(--c-white);
  -webkit-text-stroke-width: 2px;
  font-family: Work Sans;
  font-size: 130px;
  font-weight: 900;
  line-height: 0.8;
  margin-top: 175px;
  @include respond(phone) {   
   font-size: 80px;
   -webkit-text-stroke-width: 1px;
  }
}

h2 {
  font-size: 1.3em;
  color: var(--c-white);
}
